.Period{
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    margin: 0 .5rem;
    margin-bottom: 1rem;
    position: relative;
}

.Period.lonely{
    padding: 5rem 7rem;
    width: 60%;
    margin: auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.Period ul{
    list-style: none !important;
    margin: 0;
    padding: 0;
    min-width: 14rem;
    font-size: 1.3rem;
}

.Period ul li{
    margin-bottom: .5rem;
}

.Period.squircle b{
    font-size: 1.6rem;
    display: inline-block;
    width: 2em;
    margin-right: 1rem;
}

.Period.squircle.lonely b{
    font-size: 2rem;
    width: 5rem;
}

.Period .time{
    display: block;
    font-weight: bold;
    color: rgba(0, 0, 0, .6);
    font-size: 2rem;
}

.Period .wind_deg{
    margin-top: 2rem;
}

.Period .temp{
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    font-size: 1.3rem;
    font-weight: bold;
    opacity: .7;
}

.Period.lonely .temp{
    top: 5rem;
    right: 5rem;
}

.Period.squircle .temp b{
    font-size: 2rem;
    width: initial !important;
    transform: translateX(1rem);
}

.Period .temp-overlay{
    position: absolute;
    top: -3rem;
    right: -1rem;
    width: 55%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: rgb(255, 115, 0);
}

.Period.lonely .temp-overlay{
    width: 30%;
    top: -5rem;
    right: -5rem;
}


.day-sepator{
    width: 0;
    height: 100%;
    border: 1px solid black;
}

.margin-left-8{
    margin-left: 8rem;
}