.SearchBar{
  margin-bottom: 5rem;
}


.SearchBar input {
  padding: 0.7rem;
  border-radius: 10px;
  border: 0;
  font-size: 1.1rem;
  width: 40vw;
  margin-right: 1rem;
  box-sizing: border-box;
}



@media only screen and (max-width: 850px) {
  
}