.Title{
    background-color: rgba(255, 255, 255, .4);
    width: 100%;
    border-radius: 0 0 50px 50px;
    text-align: center;
    padding-bottom: 2rem;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
}

.Title h1{
    font-size: 4rem;
    margin-bottom: 0;
    letter-spacing: 2rem;
}

.Title h2{
    opacity: .6;
}