* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  user-select: none;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-image: rgb(252, 53, 14);
  background-image: -moz-linear-gradient(
    0deg,
    rgba(252, 53, 14, 1) 0%,
    rgba(119, 118, 255, 1) 100%
  );
  background-image: -webkit-linear-gradient(
    0deg,
    rgba(252, 53, 14, 1) 0%,
    rgba(119, 118, 255, 1) 100%
  );
  background-image: linear-gradient(
    0deg,
    rgba(252, 53, 14, 1) 0%,
    rgba(119, 118, 255, 1) 100%
  );

  background-repeat: no-repeat;
}


input, h1, h2, div{
  max-width: 100vw;
}

.app-wrapper {
  width: 100%;
  position: absolute;
  z-index: 2;
}

.relative-wrapper {
  position: relative;
}

button {
  cursor: pointer;
}

.Button {
  border: 0;
  padding: 1rem 2rem;
  background-color: rgb(255, 115, 0);
  transform: none;
  transition: all 0.3s;
}

.Button:hover {
  transform: translateY(-3px);
  transition: all 0.3s;
}

.centerer {
  display: flex;
  justify-content: center;
}

input {
  outline: none;
}

.squircle {
  clip-path: url(#squircleClip);
}

.margin-top-1 {
  margin-top: 1rem;
}

.margin-right-4 {
  margin-right: 4rem;
}

.margin-left-4 {
  margin-left: 4rem;
}

/* width */
*::-webkit-scrollbar {
  width: 10px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: rgb(255, 255, 255, 0.3);
  border-radius: 100px;
  overflow: hidden;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  transition: all 0.3s;
  background: rgb(255, 255, 255, 0.3);
  border-radius: 100px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  transition: all 0.3s;
  background: rgb(255, 255, 255, 0.6);
}

.container {
  padding: 0;
  margin: 0;
}


.carrousels-container{
  overflow: hidden;
  width: 98%;
}

.carrousels-container h3{
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  display: inline-block;
  margin-left: 5rem;
  padding: 1rem;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, .3);
}


@media only screen and (max-width: 850px) {
  .centerer.breakpoint{
    display: block;
    max-width: 100vw;
    text-align: center;
    margin-left: 12%;
  }

  .Title{
    border-radius: 0 0 70px 70px;
    text-align: center;
  }

  .Title h1{
    font-size: 3rem;
    letter-spacing: 1rem;
  }

  .Title h2{
    font-size: 1rem;
  }

  .SearchBar{
    display: flex;
    justify-content: center;
    width: 95%;
  }

  .SearchBar input{
    width: 95%;
  }
}


@media only screen and (max-width: 350px) {
  .Title{
    text-align: center;
  }

  .Title h1{
    font-size: 2.5rem;
    letter-spacing: .8rem;
  }

  .Title h2{
    font-size: 1rem;
  }

  .SearchBar{
    display: block;
    justify-content: center;
    width: 95%;
    text-align: center;
    position: relative;
  }

  .SearchBar input{
    width: 100%;
  }
}